@{Layout = null;}@model IEnumerable<McoEasyTool.AppHtmlElement>
<script type="text/javascript">
    jQuery(document).ready(function () {
        APP_CONTROLLER = "McoApp/";
        APP_MODULE = "APP";
        
        var FIRST_ENTRY = 0;
        var LEFT_ENTRY = 0;
        var RIGHT_ENTRY = 0;
        var LAST_ENTRY = 0;

        FIRST_ENTRY = "@ViewBag.First_Entry";
        LEFT_ENTRY = "@ViewBag.Left_Entry";
        RIGHT_ENTRY = "@ViewBag.Right_Entry";
        LAST_ENTRY = "@ViewBag.Last_Entry";

        get_arrows(APP_MCO_DIV, APP_CONTROLLER + "DisplayAuthenticationInfos/", FIRST_ENTRY, LEFT_ENTRY, RIGHT_ENTRY, LAST_ENTRY);

        var Text_Tags = "@ViewBag.Text_Tags".split(";");
        var Src_Tags = "@ViewBag.Src_Tags".split(";");
        var Val_Tags = "@ViewBag.Val_Tags".split(";");
        var Tags = Text_Tags.concat(Src_Tags).concat(Val_Tags);
        Tags = Tags.sort();
        var TagList = "";


        for (index = 0; index < Tags.length; index++) {
            if (Tags[index].trim() == "") {
                continue;
            }
            if (Text_Tags.indexOf(Tags[index]) != -1) {
                TagList += "<option value='" + Tags[index] + "' title='Le champ valeur correspond au texte affiché dans la balise'>" +
                Tags[index] + "</option>";
            }
            if (Src_Tags.indexOf(Tags[index]) != -1) {
                TagList += "<option value='" + Tags[index] + "' title='Le champ valeur correspond à l attribut src de la balise'>" +
                Tags[index] + "</option>";
            }
            if (Val_Tags.indexOf(Tags[index]) != -1) {
                TagList += "<option value='" + Tags[index] + "' title='Le champ valeur correspond à l attribut value de la balise'>" +
                Tags[index] + "</option>";
            }
        }


        var NewLineElement = "<td style='width:10%;' class='target-tag-tagname'>" +
                    "<select  style='width:100%;' id='target-tag-tagname' class='new-application-htmlelement-type'>" + TagList + "</select>" +
                    "</td>" +
                    "<td class='target-tag target-tag-xpath'>" +
                        "<input id='target-tag-xpath' type='text' value='' placeholder='my_xpath' class='target-td-content'/>" +
                    "</td>" +
                    "<td class='target-tag target-tag-id'>" +
                        "<input id='target-tag-id' type='text' value='' placeholder='my_id' class='target-td-content'/>" +
                    "</td>" +
                    "<td class='target-tag target-tag-name'>" +
                        "<input id='target-tag-name' type='text' value='' placeholder='my_name' class='target-td-content'/>" +
                    "</td>" +
                    "<td class='target-tag target-tag-class'>" +
                        "<input id='target-tag-class' type='text' value='' placeholder='my_class' class='target-td-content'/>" +
                    "</td>" +
                    "<td class='target-tag target-tag-value'>" +
                        "<input id='target-tag-value' type='text' value='' placeholder='my value' class='target-td-content'/>" +
                    "</td>" +
                    "<td class='target-tag-type' style='width:20%;'>" +
                    "<select  id='target-tag-type' style='width:100%;' class='new-application-htmlelement-action'>" +
                        "<option value='INPUT'>Paramètre d'authentification</option>" +
                        "<option value='OUTPUT'>Paramètre à vérifier</option>" +
                        "<option value='LOGIN' title='Ce type d'entrée est indispensable pour les pages de connexion non standardisées'>Bouton de connexion</option>" +
                    "</select>" +
                    "</td>";

        $("#mco-app-div .application-link").click(function () {
            if ($(this).attr("name").trim() != "") {
                window.open($(this).attr("name").trim());
            }
        });

        $("#mco-app-div .infoline").each(function () {
            $(this).html(NewLineElement);
        });

        $("#mco-app-div #create-application-htmlelement-btn").click(function () {
            appId = $("#mco-app-div #application-id-getter").text();
            tag_tagname = $("#mco-app-div #target-tag-tagname").val();
            tag_xpath = $("#mco-app-div #target-tag-xpath").val();
            tag_id = $("#mco-app-div #target-tag-id").val();
            tag_name = $("#mco-app-div #target-tag-name").val();
            tag_class = $("#mco-app-div #target-tag-class").val();
            tag_value = $("#mco-app-div #target-tag-value").val();
            tag_type = $("#mco-app-div #target-tag-type").val();
            if (tag_tagname.trim() == "" || tag_value.trim() == "") {
                alert("Vous devez remplir au moins renseigner le type de la balise et la valeur qu'elle contient.");
                return false;
            }
            else {
                selector = true;
                message = "Voulez-vous vraiment rajouter un paramètre avec ces informations?\n" +
                        "<" + tag_tagname + " xpath='" + tag_xpath + " id='" + tag_id + "' name='" + tag_name + "' class='" + tag_class + "'";
                if (tag_xpath.trim() == "" && tag_id.trim() == "" && tag_name.trim() == "" && tag_class.trim() == "") {
                    selector = confirm("Attention, les champs forts <<xpath>>, <<id>> et <<name>> et <<class>> étant vides, le premier objet correspondant à " + tag_tagname + " sera retourné lors des traitements. Voulez-vous continuer?");
                }
                if (selector) {
                    if (Text_Tags.indexOf(tag_tagname) != -1) {
                        message += ">" + tag_value + "</" + tag_tagname + ">";
                    }
                    if (Src_Tags.indexOf(tag_tagname) != -1) {
                        message += " src='" + tag_value + "' />";
                    }
                    if (Val_Tags.indexOf(tag_tagname) != -1) {
                        message += " value='" + tag_value + "' />";
                    }

                    addElement = confirm(message);
                    if (addElement) {
                        $("body").toggleClass("wait");
                        $.ajax({
                            url: SITENAME + APP_CONTROLLER + 'AddAppHtmlElement/' + appId,
                            data: { tagname: tag_tagname, tag_xpath: tag_xpath, tag_id: tag_id, tag_name: tag_name, tag_class: tag_class, tag_type: tag_type, tag_value: tag_value },
                            type: "POST",
                            success: function (data) {
                                if (data.status != "OK") {
                                    alert(data.status);
                                }
                            },
                            error: function (errorThrown) {
                                alert('Erreur lors de la communication avec le serveur');
                            },
                            complete: function () {
                                //DisplayAuthenticationInfos
                                $.ajax({
                                    url: SITENAME + APP_CONTROLLER + 'DisplayAuthenticationInfos/' + appId,
                                    type: "GET",
                                    success: function (data) {
                                        APP_MCO_DIV.html(data);
                                    },
                                    error: function (errorThrown) {
                                        alert('Erreur lors de la communication avec le serveur');
                                    },
                                    complete: function () {
                                        $("body").toggleClass("wait");
                                        colourTitles();
                                    }
                                });
                            }
                        });
                    }

                }
            }
        });

        $("#mco-app-div .cancelor").click(function () {
            $("#mco-app-div #target-tag-xpath").val("");
            $("#mco-app-div #target-tag-id").val("");
            $("#mco-app-div #target-tag-name").val("");
            $("#mco-app-div #target-tag-class").val("");
            $("#mco-app-div #target-tag-value").val("");
            $("#mco-app-div #create-application-htmlelement-btn").css("visibility", "visible");
            $("#mco-app-div #create-application-htmlelement-btn").css("display", "inline");
            $("#mco-app-div .application-editor-control").css("visibility", "hidden");
            $("#mco-app-div .application-editor-control").css("display", "none");
        });

        $("#mco-app-div .details-editor").click(function () {
            $("#container").scrollTop(0);
            columns = $(this).closest("tr").find("td");
            type = columns.eq(6).find(".type-getter").val();

            tag_tagname = $("#mco-app-div #target-tag-tagname").val(columns.eq(0).text().replace(/^\s+|\s+$/g, ''));
            tag_xpath = $("#mco-app-div #target-tag-xpath").val(columns.eq(1).text().replace(/^\s+|\s+$/g, ''));
            tag_id = $("#mco-app-div #target-tag-id").val(columns.eq(2).text().replace(/^\s+|\s+$/g, ''));
            tag_name = $("#mco-app-div #target-tag-name").val(columns.eq(3).text().replace(/^\s+|\s+$/g, ''));
            tag_class = $("#mco-app-div #target-tag-class").val(columns.eq(4).text().replace(/^\s+|\s+$/g, ''));
            tag_value = $("#mco-app-div #target-tag-value").val(columns.eq(5).text().replace(/^\s+|\s+$/g, ''));

            tag_type = $("#mco-app-div #target-tag-type").val(type);

            elementId = $(this).closest("td").find(".action-id-getter").val();
            $("#mco-app-div #create-application-htmlelement-btn").css("visibility", "hidden");
            $("#mco-app-div #create-application-htmlelement-btn").css("display", "none");
            $("#mco-app-div .application-editor-control").css("visibility", "visible");
            $("#mco-app-div .application-editor-control").css("display", "inline");
        });


        //----------------------------------------------------------
        $("#mco-app-div .deleter").click(function () {
            appId = $("#mco-app-div #application-id-getter").text();
            deletor = confirm("Voulez vous réellement supprimer ce paramètre de la liste?");
            if (deletor) {
                elementId = $(this).closest("td").find(".action-id-getter").val();
                APP_MCO_DIV.prepend(loadinggif);
                $.ajax({
                    url: SITENAME + APP_CONTROLLER + 'DeleteAppHtmlElement/' + elementId,
                    type: "GET",
                    success: function (response) {
                        alert(response);
                    },
                    error: function (error) {
                        alert(error.responseText);
                    },
                    complete: function () {
                        $("body").toggleClass("wait");
                        $.ajax({
                            url: SITENAME + APP_CONTROLLER + 'DisplayAuthenticationInfos/' + appId,
                            type: "GET",
                            success: function (data) {
                                APP_MCO_DIV.html(data);
                            },
                            error: function (errorThrown) {
                                alert('Erreur lors de la communication avec le serveur');
                            },
                            complete: function () {
                                $("body").toggleClass("wait");
                                colourTitles();
                            }
                        });
                    }
                });
            }
        });

        $("#mco-app-div #application-htmlelement-btn-editor").click(function () {
            appId = $("#mco-app-div #application-id-getter").text();
            tag_tagname = $("#mco-app-div #target-tag-tagname").val();
            tag_xpath = $("#mco-app-div #target-tag-xpath").val();
            tag_id = $("#mco-app-div #target-tag-id").val();
            tag_name = $("#mco-app-div #target-tag-name").val();
            tag_class = $("#mco-app-div #target-tag-class").val();
            tag_value = $("#mco-app-div #target-tag-value").val();
            tag_type = $("#mco-app-div #target-tag-type").val();
            if (tag_value.trim() == "" || ((tag_name.trim() == "" && tag_id.trim() == "" && tag_class.trim() == "")) && tag_tagname.trim() != "BODY") {
                alert("Vous devez remplir au moins un attribut de la balise; <<id>> ou <<name>> ou <<class>> ainsi que la valeur de l'élément.");
                return false;
            }
            else {
                addElement = confirm("Voulez-vous vraiment modifier le paramètre avec ces informations?\n" +
                    "Balise " + tag_tagname + " xpath='" + tag_xpath + " id='" + tag_id + "' name='" + tag_name + "' class='" + tag_class + "' value=" + tag_value
                );
                if (addElement) {
                    $("body").toggleClass("wait");
                    $.ajax({
                        url: SITENAME + APP_CONTROLLER + 'EditAppHtmlElement/' + elementId,
                        data: { tagname: tag_tagname, tag_xpath: tag_xpath, tag_id: tag_id, tag_name: tag_name, tag_class: tag_class, tag_type: tag_type, tag_value: tag_value },
                        type: "POST",
                        success: function (data) {
                            if (data.status != "OK") {
                                alert(data.status);
                            }
                        },
                        error: function (error) {
                            alert('Erreur lorsee de la communication avec le serveur');
                        },
                        complete: function () {
                            $.ajax({
                                url: SITENAME + APP_CONTROLLER + 'DisplayAuthenticationInfos/' + appId,
                                type: "GET",
                                success: function (data) {
                                    APP_MCO_DIV.html(data);
                                },
                                error: function (errorThrown) {
                                    alert('Erreur lors de la communication avec le serveur');
                                },
                                complete: function () {
                                    $("body").toggleClass("wait");
                                    colourTitles();
                                }
                            });
                        }
                    });
                }
            }
        });

        $("#mco-app-div .previous-link").click(function () {
            NAV_APP_APPLICATIONS_BTN.trigger("click");
        });
    });

</script>
<hgroup>
    <h2 class="page-title">@ViewBag.Message</h2>
    <span id="application-id-getter" class="application-id-getter">@ViewBag.appId</span>
</hgroup>
<div id="new-application-server" class="new-application">
    <p class="page-title-info warning"></p>
    <a class="previous-link">Précédent</a>
    <p class="application-url-getter application-link"" name="@ViewBag.appUrl">Ouvrir l'application dans un nouvel onglet</p>
    <label>
        <span class="new-recipient-title">
            <strong>Ajoutez un paramètre à la liste</strong>
            Les paramètres "Input" serviront à remplir le formulaire d'authentification, tandis que
            les valeurs des paramètres "Ouput" seront vérifiés après la tentative de connexion.
        </span>
    </label>
        
    <table id="new-application-htmlelement-table" class="new-application-htmlelement-table">
        <thead class="new-application-htmlelement-thead">
            <tr>
                <th>Balise</th>
                <th>Attribut Xpath</th>
                <th>Attribut Id</th>
                <th>Attribut Nom</th>
                <th>Attribut Classe</th>
                <th>Valeur</th>
                <th>Type de Paramètre</th>
            </tr>
        </thead>
        <tbody>
            <tr class="item-summary-tr infoline"></tr>
        </tbody>
    </table>
    <div style="width:50%;margin:auto;position:relative;text-align:center;">
        <input id="create-application-htmlelement-btn" class="application-creator" type="button" value="Ajouter" />
        <input id="application-htmlelement-btn-editor"  style="float:right" class="application-editor-control editor" type="button" value="Modifier" />
        <input id="application-htmlelement-btn-cancelor" style="float:left" class="application-editor-control cancelor" type="button" value="Annuler" />
    </div>
</div>
<br /><br />
<div id="application-htmlelement-list" class="application-list">
    <span>PARAMETRES DE CONNEXION</span><br />
    <table id="application-htmlelement-table" class="item-summary application-table">
        <thead>
            <tr class="item-summary-thead">
                <th>Balise</th>
                <th>Attribut Xpath</th>
                <th>Attribut Id</th>
                <th>Attribut Nom</th>
                <th>Attribut Classe</th>
                <th>Valeur</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody> 
            @foreach (var item in Model.Where(el => el.Type == "INPUT" || el.Type == "LOGIN"))
            {
                <tr class="item-summary-tr index-tr" @(item.Type == "LOGIN" ? "style=background-color:#13f3c3;" : "style=background-color:#12baf4;")>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td title="@Html.DisplayFor(modelItem => item.AttrXpath)">
                        @Html.DisplayFor(modelItem => item.AttrXpath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttrId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttrName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttrClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td style="margin=0px;padding=0px;width:10%">
                        @Html.TextBox("action-id-getter-" + item.Id, item.Id, new { @disabled = "disabled", @class = "action-id-getter" })
                        @Html.TextBox("type-getter-" + item.Id, item.Type, new { @disabled = "disabled", @class = "type-getter" })
                        <div class="action-div">
                            <div class="action-icon details-editor" title="Modifier ce paramètre"></div>
                            <div class="action-icon deleter" title="Supprimer ce paramètre"></div>
                        </div>
                    </td>
                </tr>
            }

</tbody>
    </table>
    <br /><span>PARAMETRES A VERIFIER APRES CONNEXION</span><br />
    <table id="Table1" class="item-summary application-table">
        <thead>
            <tr class="item-summary-thead">
                <th>Balise</th>
                <th>Attribut Xpath</th>
                <th>Attribut Id</th>
                <th>Attribut Nom</th>
                <th>Attribut Classe</th>
                <th>Valeur</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody> 
        @foreach (var item in Model.Where(el => el.Type == "OUTPUT")) {
        <tr class="item-summary-tr index-tr" style="background-color:#efde29;">
            <td>
                @Html.DisplayFor(modelItem => item.TagName)
            </td>
            <td title="@Html.DisplayFor(modelItem => item.AttrXpath)">
                @Html.DisplayFor(modelItem => item.AttrXpath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttrId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttrName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttrClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td style="margin=0px;padding=0px;width:10%">
                @Html.TextBox("action-id-getter-" + item.Id, item.Id, new { @disabled = "disabled", @class = "action-id-getter" })
                @Html.TextBox("type-getter-" + item.Id, item.Type, new { @disabled = "disabled", @class = "type-getter" })
                <div class="action-div">
                    <div class="action-icon details-editor" title="Modifier ce paramètre"></div>
                    <div class="action-icon deleter" title="Supprimer ce paramètre"></div>
                 </div>                
             </td>
         </tr>
        }
        </tbody>
    </table>
    <a class="previous-link">Précédent</a><br />
</div> 


