@{Layout = null;}@model IEnumerable<McoEasyTool.SpaceReport>

<script type="text/javascript">
    jQuery(document).ready(function () {
        SPACE_CONTROLLER = "McoSpace/";
        SPACE_MODULE = "SPACE";

        var FIRST_ENTRY = 0;
        var LEFT_ENTRY = 0;
        var RIGHT_ENTRY = 0;
        var LAST_ENTRY = 0;

        FIRST_ENTRY = "@ViewBag.First_Entry ";
        LEFT_ENTRY = "@ViewBag.Left_Entry ";
        RIGHT_ENTRY = "@ViewBag.Right_Entry ";
        LAST_ENTRY = "@ViewBag.Last_Entry ";

        get_arrows(SPACE_MCO_DIV, SPACE_CONTROLLER + "DisplayScheduleReports/", FIRST_ENTRY, LEFT_ENTRY, RIGHT_ENTRY, LAST_ENTRY);


        $("#mco-space-div .file-opener").click(function () {
            reportId = $(this).closest("td").find(".action-id-getter").val();
            FileWindow = window.open(SITENAME + 'Reports/Download/' + reportId);
        });

        $("#mco-space-div .details-viewer").click(function () {
            reportId = $(this).closest("td").find(".action-id-getter").val();
            previousScheduleId = $("#mco-space-div #previous-link-a").attr("href");
            $.ajax({
                url: SITENAME + SPACE_CONTROLLER + 'DisplayScheduleReportDetails/' + reportId,
                type: "GET",
                success: function (content) {
                    SPACE_MCO_DIV.html(content);
                },
                error: function (error) { SPACE_MCO_DIV.html(error.responseText); },
                complete: function () {
                    previous = "<div id='previous-link-div' class='previous-link'>Retour" +
                        "<a class='previous-link-a' id='previous-link-a' href='" + previousScheduleId + "'>previous</a></div>";
                    SPACE_MCO_DIV.prepend(previous);
                    colourTitles();
                }
            });
        });

        $("#mco-space-div .email-sender").click(function () {
            reportId = $(this).closest("td").find(".action-id-getter").val();
            sendagain = confirm("Voulez-vous envoyer ce rapport de nouveaux à ses destinataires?");
            if (sendagain) {
                $.ajax({
                    url: SITENAME + 'Reports/ReSend/' + reportId,
                    type: "GET",
                    success: function (data) {
                        alert(data);
                    },
                    error: function (errorThrown) {
                        alert('Erreur lors de communication avec le serveur');
                    }
                });
            }
        });

        $("#mco-space-div .email-viewer").click(function () {
            reportId = $(this).closest("td").find(".action-id-getter").val();
            EmailWindow = window.open(SITENAME + 'Reports/ViewEmail/' + reportId);
        });

        $("#mco-space-div .deleter").click(function () {
            reportId = $(this).closest("td").find(".action-id-getter").val();
            parentId = $(this).closest("td").find(".parent-id-getter").val();
            deletor = confirm("Voulez-vous vraiment supprimer ce rapport?");
            if (deletor) {
                $.ajax({
                    url: SITENAME + SPACE_CONTROLLER + 'DeleteSpaceReport/' + reportId,
                    type: "GET",
                    success: function (response) {
                        alert(response);
                    },
                    error: function (error) { SPACE_MCO_DIV.html(error.responseText); },
                    complete: function () {
                        Reload(SPACE_MCO_DIV, SITENAME + SPACE_CONTROLLER + 'DisplayScheduleReports/' + parentId);
                    }
                });
            }
        });

        $("#mco-space-div .previous-link").click(function () {
            NAV_SPACE_SCHEDULER_BTN.trigger("click");
        });
    });
</script>

<hgroup>
    <h2 class="page-title">
        @ViewBag.Message 
    </h2>
</hgroup>
<p class="page-title-info warning"></p>
<a class="previous-link">Précédent</a>
<table id="report-table" class="item-summary">
    <thead>
        <tr class="item-summary-thead">
            <th>Lancement</th>
            <th>Durée</th>
            <th>Disques</th>
            <th>Résultat</th>
            <th>Auteur</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) { 
        <tr class="item-summary-tr">
            <td>
                @Html.DisplayFor(modelItem => item.DateTime) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalChecked) vérifiés(s).
            </td>
            <td class="file-opener">
                @Html.TextBox("action-id-getter-"+item.Id, item.Id, new { @disabled="disabled",@class="action-id-getter"})
                @Html.DisplayFor(modelItem => item.ResultPath) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author) 
            </td>
            <td style="margin:0px;padding:0px;width:auto;">
                @Html.TextBox("action-id-getter-"+item.Id, item.Id, new { @disabled="disabled",@class="action-id-getter"})
                <div class="action-div">
                    <div class="action-icon email-viewer" title="voir mail"></div>
                    <div class="action-icon email-sender" title="renvoyer le mail associé à ce rapport"></div>
                    <div class="action-icon deleter" title="supprimer"></div>
                </div>                
            </td>
        </tr>
} 
    </tbody>
</table>
<a class="previous-link">Précédent</a>